* {
  box-sizing: border-box;
}
.container{
  margin:1%;
}
.header {
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-list {
  width: 65%;
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

.cart {
  width: 30%;
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}
.notification{
  background: #7dda7d;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.all-header{
  float: left;
}